@font-face {
  font-family: "GearsOfPeace";
  src: url("./gears_of_peace/GearsOfPeace.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceNova";
  src: url("./space-nova/space-nova.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-margin-top: 76px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-thumb {
    background-image: url("scroll.svg");
    background-size: contain;
    background-position: center;
}

a {
    color: white;
}

body {
    width: 100%;
    height: 100%;
    background-color: #344D59;
}

.GearsOfPeace {
    font-family: "GearsOfPeace", sans-serif;
}

.SpaceNova {
    font-family: "SpaceNova", sans-serif;
    letter-spacing: 2.5px;
}

#main-content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 50px 0;
}

#logo-content {
    display: flex;
    justify-content: center;
    position: relative;
}

#logo-content svg {
    animation: logo linear 5s infinite alternate-reverse;
}

#div {
    max-width: 747px;
    max-height: 577px;
}

.logo-main {
    width: 100%;
    height: 100%;
}

.hamburger-menu {
    width: 100%;
    min-width: 60px;
    max-width: 60px;
    display: none;
}

#citation {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 5vmin;
    text-align: center;
    color: white;
}

#citation p {
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 40%), linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 90%) right;
    background-size: 100% 3px, 3px 100%;
    background-repeat: no-repeat;
    text-shadow: 5px 5px 10px #000000, 4px 4px 0 #999999, 3px 3px 0 #AAAAAA, 2px 2px 0#BBBBBB, 1px 1px 0 #CCCCCC;
    animation: citation 0.5s;
    white-space: nowrap;
    padding: 3%;
}

.row-hexagone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.hexagone {
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
    width: 207px;
    height: 207px;
    transition: 0.25s;
}

.hexagone p {
    color: white;
    font-size: 24px;
}

a {
    text-decoration: none;
}

#hexa-header .hexagone:hover {
    background-color: #C6C6C6;
}

#hexa-header .hexagone:hover p {
    color: #344D59;
    transition: 0.25s;
}

.color-1 {
    background-color: #137C8B;
}

.color-2 {
    background-color: #709CA7;
}

.color-3 {
    background-color: #B8CBD0;
}

.color-4 {
    background-color: #7A90A4;
}

.cursor-pointer {
    cursor: pointer;
}

h1 {
    text-align: center;
    color: white;
    font-size: 64px;
}

#profil {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0 40px;
}

#profil p {
    max-width: 1010px;
    font-size: 32px;
    color: white;
    line-height: 50px;
}

#profil img {
    height: 100%;
}

.robotoMono {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.decaler {
    margin-top: 207px;
}

.hexa-about {
    gap: 50px;
}

.hexa-about .hexagone:hover {
    animation: hexagone 0.5s alternate-reverse 2;
}

.hexa-about p {
    font-size: 18px;
}

.margin-section {
    display: flex;
    flex-direction: column;
    gap: 117px;
    margin-top: 159px;
}

header {
    transform: translateX(-100%);
    position: fixed;
    width: 100%;
    height: 76px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #344D59;
    transition: 0.25s;
    z-index: 999;
}

header div:last-child {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.appear {
    transform: translateX(0);
    transition: 0.25s;
}

#project {
    display: flex;
    align-items: center;
    justify-content: center;
}

#project-content {
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    gap: 50px;
    justify-content: center;
}

#project img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#div-form {
    display: flex;
    align-items: center;
}

#div-form form {
    display: flex;
    gap: 40px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form input, #contact form textarea {
    padding: 14px 22px;
    background-color: #7A90A4;
    border-radius: 10px;
    color: #B8CBD0;
    border: none;
    outline: none;
}

#div-form form {
    width: 544px;
}

form textarea {
    height: 230px;
    resize: none;
}

::placeholder {
  color: #B8CBD0;
  opacity: 1;
}

form button {
    background-color: #137C8B;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px 0;
}

#contact-content {
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 100%;
}

#contact-content .hexagone {
    width: 139px;
    height: 139px;
    background-color: white;
}

hr {
    height: 90%;
}

#div-hr {
    display: flex;
    align-items: center;
}

#contact-content svg {
    width: 50%;
    height: 50%;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info p {
    color: white;
}

#info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hexa-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(-100%);
    transition: 0.25s ease-in-out;
    padding: 5px 0 5px 5px;
    gap: 20px;
}

.hexa-img .hexagone {
    width: 50px;
    height: 50px;
}

.hexa-img .hexagone p {
    font-size: 10px;
}

.hexaAdd {
    transform: translateY(0);
    transition: 0.25s ease-in-out;
}

.project-div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 437px;
}

.project-div p {
    color: white;
}

.project-div .project-image-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 218px;
}

.rotate-180 {
    transform: rotateZ(180deg);
}

.view {
    animation: view linear auto both;
    animation-timeline: view();
}

@keyframes view {
    0% {
        opacity: 0;
    }

    55% {
        opacity: 1;
    }
}

@keyframes logo {
    0% {
        transform: perspective(800px) rotateX(18deg) rotateY(-22deg);
    }
}

@keyframes hexagone {
    0% {
        transform: scale(1.3) rotate(30deg);
    }

    50% {
        transform: rotate(-30deg);
    }
}

@media screen and (max-width: 1100px) {
    .hexa {
        display: none;
    }

    #div {
        width: 747px;
        height: 577px;
    }

    .hexagone p {
        font-size: 8px;
    }

    #div {
        justify-content: center;
        gap: 50px;
    }

    #main-content {
        justify-content: center;
    }

    #contact-content {
        flex-direction: column;
        align-items: center;
    }

    #div-hr {
        justify-content: center;
        width: 100%;
    }

    #div {
        padding: 15px;
    }

    hr {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .hexa-about {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #about-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .center {
        display: flex;
        justify-content: center;
    }

    .decaler {
        margin-top: 0;
    }
}

@media screen and (max-width: 800px) {
    #citation p {
        word-break: break-all;
    }

    .hamburger-menu {
        display: block;
    }

    header div:last-child {
        padding: 15px;
        right: 0;
        top: 76px;
        position: absolute;
        display: none;
        flex-direction: column;
        background-color: #344D59;
    }
}

@media screen and (max-width: 680px) {
    .hexagone {
        width: 110px;
        height: 110px;
    }
}

@media screen and (max-width: 590px) {
    #div-form {
        justify-content: center;
        width: 90%;
    }

    #profil p {
        font-size: 2vmax;
        line-height: 45px;
    }

    h1 {
        font-size: 36px;
    }

    #contact-content .hexagone {
        width: 90px;
        height: 90px;
    }

    .info p {
        font-size: 1.5vmax;
    }
}

@media screen and (max-width: 450px) {
    #citation {
        width: 100%;
    }

    .project-div {
        width: 90%;
    }

    .project-div .project-image-wrapper {
        height: 100%;
    }
}